<div class="footer">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center">
          <h2>Contacta con nosotros</h2>
          <br>
          <p><i class="fa-solid fa-2x fa-envelope"></i>&nbsp;<strong>fitwinispp@proton.me</strong></p>
          
          <a href="https://github.com/ISPP23-G11/FitWin"><i class="fa-brands fa-2x fa-github"></i></a>
          <a href="https://www.instagram.com/fit_win_ispp/"><i class="fa-brands fa-2x fa-instagram"></i></a>
          <a href="https://twitter.com/FitWin_ISPP"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
          <br>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-dark p-2 text-center">
    <div class="container">
      <p class="text-white">Todos los derechos reservados por @FitWin</p>
    </div>

    <div class="container">
        <a class=" text-white " href="{% url 'legal_notice' %}">
            Aviso legal
        </a>
    </div>
  </footer>

</div>

