<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>FitWin</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <!-- All CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/c18980d3a8.js" crossorigin="anonymous"></script>
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light background" 
    {% if "trainer" in request.user.roles %}
        {% if request.user.is_premium %}
            style=" background: rgb(149,60,201);
                background: linear-gradient(90deg, rgba(161, 54, 223, 0.85) 0%, rgba(0, 173, 159, 0.75) 100%);"
        {% endif %}
    {% endif %}
    >
            {% if "client" in request.user.roles %}
                {% url 'main_clients' as main %}
            {% elif "trainer" in request.user.roles %}
                {% url 'main_trainers' as main %}
            {% else %}
                {% url 'home' as main %}
            {% endif %}
			<a class="navbar-brand" href="{{main}}" style="font-weight: 800;font-size: x-large; letter-spacing: 3px;"><img alt="" style="width:75px; height: 100%;" src="{% static 'img/logo.png' %}" style="font-family: sans-serif;"><span style="color:white">FIT</span>WIN
                {% if "trainer" in request.user.roles %}
                    {% if request.user.is_premium %}
                        <hr><p style="font-size: medium;">PREMIUM</p>
                    {% endif %}
                {% endif %}
            </a>
             
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    {% if "client" in request.user.roles %}
                        <a class="nav-link text-white h6" href="/clients">Inicio</a>
                    {% elif "trainer" in request.user.roles %}
                        <a class="nav-link text-white h6" href="/trainers">Inicio</a>
                    {% endif %}

                </li>
                <li class="nav-item active ">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link text-white h6" href="{% url 'list_announcements' %}">
                            Todos los anuncios
                        </a>
                    {% endif %}
                </li>

                {% if request.user.is_authenticated %}
                    {% if "client" in request.user.roles %}
                        <li class="nav-item active ">
                            <a class="nav-link text-white h6" href="{% url 'list_announcements' %}?showBooked=True">
                                Mis reservas
                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a href="/chat" class="nav-link text-white h6">Chat</a>
                        </li>
                    {% elif "trainer" in request.user.roles %}
                        <li class="nav-item active">
                            <a class="nav-link text-white h6" href="{% url 'list_announcements' %}?trainer={{request.user.username}}">
                                Mis anuncios<span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link text-white h6" href="{% url 'payments:plans' %}">
                                Planes
                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a href="/chat" class="nav-link text-white h6">Chat</a>
                        </li>
                    {% endif %}
                {% endif %}
            
                </ul>
                {% if request.user.is_authenticated %}
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                            
                            {% if "client" in request.user.roles %}
                                {% url 'client_details' client_id=request.user.id as user_details %}
                                {% url 'client_edit' as user_edit %}
                            {% elif "trainer" in request.user.roles %}
                                {% url 'trainer_details' trainer_id=request.user.id as user_details %}
                                {% url 'trainer_edit' as user_edit %}
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link text-white h6" href="{{ user_edit }}">
                                    Editar perfil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white h6" href="{{ user_details }}">Mi perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white h6" href="/logout"><strong>Salir</strong></a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
    </nav>

    {% if messages|length > 0 %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif 'success' in message.tags %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>

    {% block body %}
    {% endblock %}

</body>
</html>