
<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--divinectorweb.com-->

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>FitWin</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <!-- All CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">


</head>

{% block content %}
<h1>Lista de Anuncios</h1>
<div class="">
<form method="GET" class="form-group">
  <label for="title">Título:</label>
  <input type="text" class="form-control" id="title" name="title" value="{{ request.GET.title }}">

  <label for="description">Descripción:</label>
  <input type="text" class="form-control" id="description" name="description" value="{{ request.GET.description }}">

  <label for="place">Lugar:</label>
  <input type="text" class="form-control" id="place" name="place" value="{{ request.GET.place }}">

  <label for="min_price">Precio Minimo:</label>
  <input type="number" class="form-control" id="min_price" name="min_price" value="{{ request.GET.min_price }}">

  <label for="max_price">Precio Maximo:</label>
  <input type="number" class="form-control" id="max_price" name="max_price" value="{{ request.GET.max_price }}">

  <label for="min_capacity">Aforo Minimo:</label>
  <input type="number" class="form-control" id="min_capacity" name="min_capacity" value="{{ request.GET.min_capacity }}">

  <label for="max_capacity">Aforo Maximo:</label>
  <input type="number" class="form-control" id="max_capacity" name="max_capacity" value="{{ request.GET.max_capacity }}">

  <label for="start_date">Fecha de inicio:</label>
  <input type="datetime-local" class="form-control" id="start_date" name="start_date" value="{{ request.GET.start_date|default_if_none:'' }}">

  <label for="finish_date">Fecha de fin:</label>
  <input type="datetime-local" class="form-control" id="finish_date" name="finish_date" value="{{ request.GET.finish_date|default_if_none:'' }}">

  <label for='trainer'>Entrenador:</label>
  <input type="text" class="form-control" id="trainer" name="trainer" value="{{request.GET.trainer}}">

  <label for="category">Categoría:</label>
  <select id="category_difficulty" class="form-control" name="category_difficulty">
    <option value="">Filtrado por dificultad</option>
    {% for category in categories %}
      {%if category.types == 'difficulty'%}
        <option value="{{ category.id }}" {% if category.id == request.GET.category_difficulty %}selected{% endif %}>{{ category.name }}</option>
      {%endif%}
    {% endfor %}
  </select>
  <select id="category_objective" class="form-control" name="category_objective">
    <option value="">Filtrado por objetivo</option>
    {% for category in categories %}
      {%if category.types == 'objectives'%}
        <option value="{{ category.id }}" {% if category.id == request.GET.category_objective %}selected{% endif %}>{{ category.name }}</option>
      {%endif%}
    {% endfor %}
  </select>
  <select id="category_recovery" class="form-control" name="category_recovery">
    <option value="">Filtrado por lesion</option>
    {% for category in categories %}
      {%if category.types == 'recovery'%}
        <option value="{{ category.id }}" {% if category.id == request.GET.category_recovery %}selected{% endif %}>{{ category.name }}</option>
      {%endif%}
    {% endfor %}
  </select>

  <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
</div>

<div class="row justify-content-center align-items-center h-50 mt-4">
  <div class="col col-xl-6">
  {% if announcements|length > 0 %}

  {% for a in announcements %}
    
  <div class="card mb-5" style="border-radius: 15px;">
    <div class="card-body p-4">
      <h3 class="mb-3"><b>{{ a.title }}</b></h3>
      <h5 class="mb-3">{{ a.place }}</h5>
      <h5 class="mb-3">{{ a.price|floatformat:2 }} €</h5>
      <h5 class="mb-3">{{ a.start_date|date:"d-m-Y" }} | {{ a.start_date|date:"H:i" }} - {{ a.finish_date|date:"H:i" }}</h5>
      <h5 class="mb-3">
          {% if a.categories.all %}
              {% for category in a.categories.all %}
                  <span class="badge bg-success text-light">{{ category.types }}: {{ category.name }}</span>
              {% endfor %}
          {% else %}
              No hay categorías para este anuncio.
          {% endif %}</h5>
      <p><strong>Clientes apuntados:</strong>
              {% if a.clients.all %}
              {% for client in a.clients.all %}
              {{ client.user.first_name}} {{ client.user.last_name }}
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
              {% else %}
              No hay clientes para este anuncio.
              {% endif %}</p>
      <p class="mb-3">Hay hueco para {{ a.capacity }} personas más</p>
      <p class="small mb-0"><i class="far fa-star fa-lg"></i>
        {{ a.description }}
      </p>


      <hr class="my-2">

      <div class="dropdown">
        <a class="btn btn-info" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Ver anuncio
        </a>

        </ul>
      </div>

    </div>
  </div>

  
  

  {% endfor %}

</div>
 
</div>

  {% else %}
    <p class="alert alert-danger">No se encontraron anuncios</p>
  {% endif %}

{% endblock %}
