{%extends "navbar.html"%}

{% block body %}
<h1>Lista de Anuncios</h1>
<div class="row justify-content-center align-items-center h-50 mt-4">
<form method="GET" class="form-group card mb-5" style="border-radius: 15px; margin: 15px; padding: 15px;">
  <div class="row">
    <div class="col-md-4">
      <label for="title">Título:</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ request.GET.title }}">
    </div>
    <div class="col-md-4">
      <label for="place">Lugar:</label>
      <input type="text" class="form-control" id="place" name="place" value="{{ request.GET.place }}">
    </div>
  </div>

  <label for="description">Descripción:</label>
  <input type="text" class="form-control" id="description" name="description" value="{{ request.GET.description }}">

  
  <div class="row">
    <div class="col-md-4">
      <label for="min_price">Precio Minimo:</label>
      <input type="number" class="form-control" id="min_price" name="min_price" value="{{ request.GET.min_price }}">
    </div>
    <div class="col-md-4">
      <label for="max_price">Precio Maximo:</label>
      <input type="number" class="form-control" id="max_price" name="max_price" value="{{ request.GET.max_price }}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="min_capacity">Aforo Minimo:</label>
      <input type="number" class="form-control" id="min_capacity" name="min_capacity" value="{{ request.GET.min_capacity }}">
    </div>
    <div class="col-md-4">
      <label for="max_capacity">Aforo Maximo:</label>
      <input type="number" class="form-control" id="max_capacity" name="max_capacity" value="{{ request.GET.max_capacity }}">
    </div>
  </div>

  <label for="start_date">Fecha de inicio:</label>
  <input type="datetime-local" class="form-control" id="start_date" name="start_date" value="{{ request.GET.start_date|default_if_none:'' }}">

  <label for="end_date">Fecha de fin:</label>
  <input type="datetime-local" class="form-control" id="end_date" name="end_date" value="{{ request.GET.end_date|default_if_none:'' }}">

  <label for='trainer'>Entrenador:</label>
  <input type="text" class="form-control" id="trainer" name="trainer" value="{{request.GET.trainer}}">

  <label for="category">Categoría:</label>
  <select id="category_difficulty" class="form-control" name="category_difficulty">
    <option value="">Filtrado por dificultad</option>
    {% for category in categories %}
      {%if category.types == 'difficulty'%}
        <option value="{{ category.id }}" {% if category.id == request.GET.category_difficulty %}selected{% endif %}>{{ category.name }}</option>
      {%endif%}
    {% endfor %}
  </select>
  <select id="category_objective" class="form-control" name="category_objective">
    <option value="">Filtrado por objetivo</option>
    {% for category in categories %}
      {%if category.types == 'objectives'%}
        <option value="{{ category.id }}" {% if category.id == request.GET.category_objective %}selected{% endif %}>{{ category.name }}</option>
      {%endif%}
    {% endfor %}
  </select>
  <select id="category_recovery" class="form-control" name="category_recovery">
    <option value="">Filtrado por lesion</option>
    {% for category in categories %}
      {%if category.types == 'recovery'%}
        <option value="{{ category.id }}" {% if category.id == request.GET.category_recovery %}selected{% endif %}>{{ category.name }}</option>
      {%endif%}
    {% endfor %}
  </select>

  <div class="row justify-content-center align-items-center h-50 mt-4">
    <button type="submit" class="btn btn-primary">Filtrar</button>
  </div>
</form>
</div>

<div class="row justify-content-center align-items-center h-50 mt-4">
  <div class="col col-xl-6">
  {% if announcements|length > 0 %}

  {% for a in announcements %}
    
  <div class="card mb-5" style="border-radius: 15px;">
    <div class="card-body p-4">
      <h3 class="mb-3"><b>{{ a.title }}</b></h3>
      <h5 class="mb-3">{{ a.place }}</h5>
      <h5 class="mb-3">{{ a.price|floatformat:2 }} €</h5>
      <h5 class="mb-3">{{ a.start_date|date:"d-m-Y" }} | {{ a.start_date|date:"H:i" }} - {{ a.finish_date|date:"H:i" }}</h5>
      <h5 class="mb-3">
          {% if a.categories.all %}
              {% for category in a.categories.all %}
                  <span class="badge bg-success text-light">{{ category.types }}: {{ category.name }}</span>
              {% endfor %}
          {% else %}
              No hay categorías para este anuncio.
          {% endif %}</h5>
      <p><strong>Clientes apuntados:</strong>
              {% if a.clients.all %}
                {{a.clients.all.count}}
              {% else %}
                No hay clientes para este anuncio.
              {% endif %}</p>
      <p class="mb-3">Hay hueco para {{ a.capacity }} personas en total</p>
      <p class="small mb-0"><i class="far fa-star fa-lg"></i>
        {{ a.description }}
      </p>


      <hr class="my-2">

      <div class="dropdown">
        <a class="btn btn-info" href="/announcements/{{a.pk}}" role="button" id="details" aria-expanded="false">
          Ver anuncio
        </a>

        </ul>
      </div>

    </div>
  </div>

  
  

  {% endfor %}

</div>
 
</div>

  {% else %}
    <p class="alert alert-danger">No se encontraron anuncios</p>
  {% endif %}

{% endblock %}
