{% extends 'chat/index.html' %}
{% block body %}
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8E6ECF;">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Chat con {{ receiver.username }}</a>
    </div>
</nav>
    <div class="section" style="height: 80vh">
    <div class="row">
        <div class="col-3">
            {% if "trainer" in request.user.roles %}
            <div class="card">
                <div class="card-title" style="text-align: center;">
                    <h3><strong>Alumnos</strong></h3>
                </div>
                
                <div class="collection">
                    {% for user in users %}
                    {% if "client" in user.roles %}
                    <a href="{% url 'chat' request.user.id user.id %}" id="user{{ user.id }}" class="collection-item row">
                        <img src="{{user.picture.url}}" class="col s4">
                        <div class="col s3">
                        <span class="title" style="font-weight: bolder">{{ user.username }}</span>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if "client" in request.user.roles %}
            <div class="card">
                <div class="card-title" style="text-align: center;">
                    <h3><strong>Entrenadores</strong></h3>
                </div>
                <div class="collection">
                    {% for user in users %}
                    {% if "trainer" in user.roles %}
                    <a href="{% url 'chat' request.user.id user.id %}" id="user{{ user.id }}" class="collection-item row">
                        <img src="{{user.picture.url}}" class="col s4">
                        <div class="col s3">
                        <span class="title" style="font-weight: bolder">{{ user.username }}</span>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        
        </div>
        <div class="col-9">
            <!-- Agrega un elemento para mostrar el mensaje de error -->
            <div id="error-message" style="color: red;"></div>
            
            <div class="card">
                
            <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
                {% block messages %}

                {% endblock %}
            </div>
            <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-11">
                        <div class="form-group">
                            <style>
                                ::placeholder { /* Most modern browsers support this now. */
                                color:    black;
                                }
                            </style>
                            <input id="id_message" name="message" type="text" placeholder="Ingresa tu mensaje" style="co">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary"><i class="material-icons">send</i></button>

                    </div>
                    <div class="col">
                        <a href="/{% if 'client' in request.user.roles %}clients{% elif 'trainer' in request.user.roles %}trainers{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                            </svg></a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>

    {% load static %}
    <script src="{% static 'js/chat.js' %}"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Asegúrate de incluir jQuery -->

<script>
    // For receiving
    sender_id = "{{ receiver.id }}";
    receiver_id = "{{ request.user.id }}";

    // For sending
    $(function () {
        scrolltoend();
        $('#chat-box').on('submit', function (event) {
            event.preventDefault();
            var message = $('#id_message');
            var maxCharacters = 1200

            if (message.val().length > maxCharacters) {
                // Mostrar mensaje de error
                $('#error-message').text('El mensaje supera el límite de caracteres permitidos.');
                message.val('');
            } else {
                send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
                message.val('');
            }
        });
    });
</script>


   
{% endblock %}