{% extends "navbar.html" %}

{% block body %}
{% if client %}
<section class="jumbotron text-center">
	<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="user-card">
          <img class="user-img" src="{{ client.picture.url }}" alt="">
          <div class="user-info">
            <h2 class="mb-4">{{ client.first_name }} {{ client.last_name }}</h2>
            <p class="mb-2">Usuario: <strong>{{ client.username }}</strong></p>
            <p class="mb-4"><strong>{{ client.email }}</strong></p>
            <p> {{ client.bio }} </p>    
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
  

  
{% include "footer.html" %}

{% endblock %}