{% extends "navbar.html" %}

{% load static %}

{% block body %}
<section class="mb-5 text-center">
    <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 display-3 color2">Editar perfil</h1>

              {% if messages|length > 0 %}
              {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">

                    <div class="input-group mb-3 col-12">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input required class="form-control" type="text" name="{{u_form.first_name.name}}" maxlength="30" value="{{u_form.first_name.value}}">    
                    </div>
                </div>

                <div class="row">

                    <div class="input-group mb-3 col-12">
                        <span class="input-group-text" id="basic-addon1">Apellidos</span>
                        <input required class="form-control" type="text" name="{{ u_form.last_name.name }}" maxlength="150" value="{{ u_form.last_name.value }}">
                    
                    </div>
                </div>
        
                <div class="row">
        
                    <div class="input-group mb-3 col-sm-12 col-lg-6">
                        <span class="input-group-text">Fecha de nacimiento</span>
        
                        <input type="date" class="form-control" name="{{ form.birthday.name }}" value="{{ form.birthday.value|date:"Y-m-d" }}" id="{{ form.birthday.id_for_label }}" {% if form.birthday.required %}required{% endif %}>

                    </div>
                </div>
            
                <div class="row">
        
                    <div class="input-group col">
                        <span class="input-group-text">Biografía</span>
                        <input required class="form-control" type="text" name="{{ form.bio.name }}" maxlength="150" value="{{ form.bio.value }}"> 
                    </div>
                </div>
                
                <br>

                <div class="row">
        
                    <div class="input-group col">
                        <span class="input-group-text">Foto de perfil</span>
                        {{form.picture}}
                    </div>
                    
                </div>
                <br>
                <p><strong>Foto actual:</strong><br/> <img src="{{request.user.picture.url}}" class="user-img"> </p>

		<div class="d-flex justify-content-between">
                <a href="/clients" class="btn btn-danger btn-lg btn-block cancel-edit-profile">Cancelar</a>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                      Editar perfil
                        </button>
		</div>


  
              </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}