{% extends "navbar.html" %}
{% load social_share %}

{% block body %}
{% if trainer %}

<section class="jumbotron text-center">
	<div class="container">
    <div class="row">
        <h1 class="display-2 fw-bold col-12">Detalles de {{ trainer.username }}</h1>
    </div>
	  
      <div class="row ">
        <div class="card mb-3 col-12">
          {% if trainer.picture %}
            <img class="card-img-botton mt-3" src="{{ trainer.picture.url }}" alt="Card image cap">
          {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ trainer.first_name }} {{ trainer.last_name }}</h2>
              <h4 class="card-title">Email: {{ trainer.email }}</h4>
              
              <hr>
                {% if mean %}
                  <span class="badge rounded-pill bg-warning text-dark fs-4">
                    <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25"> 
                      {{ mean|floatformat:2 }} 
                    <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25">
                  </span>
                {% else %}
                  <p>No hay valoraciones para este entrenador</p>
                {% endif %}
              
              {% if client %}
                <form action="/clients/rating/{{ trainer.id }}" method="post" class="mt-3">
                  {% csrf_token %}
                  <select name="rating">
                    <option value="0"
                    {% if own_rating == 0.0 %}
                      selected
                    {% endif %}
                    >&#9734;&#9734;&#9734;&#9734;&#9734;</option>
                    <option value="1"
                    {% if own_rating == 1.0 %}
                      selected
                    {% endif %}
                    >&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                    <option value="2"
                    {% if own_rating == 2.0 %}
                      selected
                    {% endif %}
                    >&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                    <option value="3"
                    {% if own_rating == 3.0 %}
                      selected
                    {% endif %}
                    >&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                    <option value="4"
                    {% if own_rating == 4 %}
                      selected
                    {% endif %}
                    >&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                    <option value="5"
                    {% if own_rating == 5 %}
                      selected
                    {% endif %}
                    >&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                  </select>
                 
                  <button type="submit" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                  </svg></button>
                </form>
              {% endif %}
                <hr>
              <p class="card-text"><strong>Biografía:</strong> {{ trainer.bio }} </p>
                {% if client %}
                <p>
                  <a href="/announcements/list-his/{{ trainer.id }}" class="btn btn-primary btn-lg btn-block">Ir a sus clases</a>
                  <a href="/chat/ms/{{ trainer.username}}" class="btn btn-outline-primary btn-lg btn-block">Chat</a>
                </p>
                {% endif %}
                
                <div class="row my-4">
                  {% url 'trainer_details' trainer_id=trainer.id as trainer_details_id %}
                  <span style="width: fit-content;" >{% post_to_facebook trainer_details_id '<i class="fab fa-facebook fa-2x"></i>' %}</span>
                  <span style="width: fit-content;" >{% post_to_whatsapp announcement_details_id "<i class='fab fa-whatsapp fa-2x'></i>" %}</span>
                <span style="width: fit-content;" >{% post_to_twitter "Nueva clase: {{a.title}}. {{a.description}}. El día {{a.start_date|date:'d-m-Y'}} de {{ a.start_date|date:'H:i' }} hasta {{ a.finish_date|date:'H:i' }}. Echa un vistazo!" announcement_details_id "<i class='fab fa-twitter fa-2x' ></i>" %}</span>
                </div>

            </div>
          </div>
      </div>
  </section>

<hr>
<h3 class="text-center mt-5">Comentarios</h3>


{% if client %}
<section class="mb-5 text-center">
  <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">

              {% if messages|length > 0 %}
                {% for message in messages %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}

              <form action="/clients/comment/{{ trainer.id }}" method="post">
                {% csrf_token %}
                <div class="form-outline">
                  <div class="input-group mb-3 col-sm-12 col-lg-6">
                    <span class="input-group-text">Comentario</span>
                    <input type="text" minlength="10" required class="form-control form-control-lg" id="motivo" value="{{ own_comment.comment }}" name="comment">                         
                  </div>
                  <button type="submit" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                    </svg>
                  </button>
                </div>
              </form>
              </div>
          </div>
        </div>
    </div>
  </div>
</section>
{% endif %}

{% for c in comments %}
<div class="container">
  <div class="mx-auto card mb-5" style="border-radius: 15px;">
    <span class="badge rounded-pill bg-light text-dark">
      {% if c.client.picture %}
        <img width="32" height="32" class="card-img-botton" src="{{ c.client.picture.url }}" alt="Card image cap">
      {% endif %}
        <a href="/clients/{{ c.client.id }}" style="outline: none;text-decoration: none;"><h4>{{ c.client.username }}</h4></a>
    </span>
      <p>{{ c.comment }}</p>
  </div>
</div>
{% endfor %}

{% endif %}  

{% include "footer.html" %}

{% endblock %}