{% extends "navbar.html" %}
{% load social_share %}

{% block body %}

<section class="jumbotron text-center">
	<div class="container">
    <div class="user-card mb-3 col-12">
      {% if trainer.picture %}
        <img class="user-img mt-3" src="{{ trainer.picture.url }}" alt="Card image cap">
      {% endif %}
      <div class="user-info">
        <h2 class="mb-4">{{ trainer.first_name }} {{ trainer.last_name }}</h2>
        <p class="mb-4"><strong>{{ trainer.email }}</strong></p>
        <p> {{ trainer.bio }} </p>
      </div>
      <div class="row d-flex justify-content-center mb-5">
        {% url 'trainer_details' trainer_id=trainer.id as trainer_details_id %}
        <span style="width: fit-content;" >{% post_to_facebook trainer_details_id '<i class="fab fa-facebook fa-2x"></i>' %}</span>
        <span style="width: fit-content;" >{% post_to_whatsapp announcement_details_id "<i class='fab fa-whatsapp fa-2x'></i>" %}</span>
        <span style="width: fit-content;" >{% post_to_twitter "" announcement_details_id "<i class='fab fa-twitter fa-2x' ></i>" %}</span>
      </div>

          
      {% if client %}
        <p class="mb-5">
          <a href="/announcements/list?trainer={{trainer.username}}" class="btn btn-primary btn-lg btn-block">Clases</a>
          <a href="/chat/chat/{{request.user.id}}/{{trainer.id}}" class="btn btn-primary btn-lg btn-block" style="width: 89px;">Chat</a>
        </p>
      {% endif %}
  
      {% if mean %}
        <span class="badge rounded-pill bg-warning text-dark fs-4">
          <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25"> 
            {{ mean|floatformat:2 }} 
          <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25">
        </span>
      {% endif %}
          
      {% if client %}
        <form action="/clients/rating/{{ trainer.id }}" method="post" class="my-3 mb-5 d-flex col-2 mx-auto">
          {% csrf_token %}
          <select name="rating" class="form-select me-1">
            <option value="0"
            {% if own_rating == 0.0 %}
              selected
            {% endif %}
            >&#9734;&#9734;&#9734;&#9734;&#9734;</option>
            <option value="1"
            {% if own_rating == 1.0 %}
              selected
            {% endif %}
            >&#9733;&#9734;&#9734;&#9734;&#9734;</option>
            <option value="2"
            {% if own_rating == 2.0 %}
              selected
            {% endif %}
            >&#9733;&#9733;&#9734;&#9734;&#9734;</option>
            <option value="3"
            {% if own_rating == 3.0 %}
              selected
            {% endif %}
            >&#9733;&#9733;&#9733;&#9734;&#9734;</option>
            <option value="4"
            {% if own_rating == 4 %}
              selected
            {% endif %}
            >&#9733;&#9733;&#9733;&#9733;&#9734;</option>
            <option value="5"
            {% if own_rating == 5 %}
              selected
            {% endif %}
            >&#9733;&#9733;&#9733;&#9733;&#9733;</option>
          </select>
          
          <button type="submit" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
          </svg></button>
        </form>
      {% endif %}
    </div>
  </div>
</section>



{% if client %}
<section class="mb-5 text-center">
  <div class="container">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">

            {% if messages|length > 0 %}
              {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <form action="/clients/comment/{{ trainer.id }}" method="post">
              {% csrf_token %}
              <div class="form-outline d-flex">
                <div class="input-group me-1">
                  <span class="input-group-text">Comentario</span>
                  <input type="text" minlength="10" required class="form-control form-control-lg" id="motivo" value="{{ own_comment.comment }}" name="comment">                         
                </div>
                <button type="submit" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% for c in comments %}
  <div class="container">
    <div class="mb-5 d-flex" style="border: 1px solid #ced4da; border-radius: 15px; padding: 1rem 1rem 1rem 1rem">
      <div class="user-comment-personal me-2">
        {% if c.client.picture %}
          <img width="32" height="32" src="{{ c.client.picture.url }}" alt="" style="object-fit: cover; border-radius: 50%;">
        {% endif %}
      </div>
      <div class="user-comment-text">
        <a href="/clients/{{ c.client.id }}" style="outline: none;text-decoration: none;">{{ c.client.username }}</a>
        <p>{{ c.comment }}</p>
      </div>
    </div>
  </div>
{% endfor %}


{% include "footer.html" %}

{% endblock %}