{% extends "navbar.html" %}

{% block body %}
{% if trainer %}

<section class="jumbotron text-center">
	<div class="container">
    <div class="row">
        <h1 class="display-2 fw-bold col-12">Detalles de {{ trainer.user.username }}</h1>
    </div>
	  
      <div class="row ">
        <div class="card mb-3 col-12">
          {% if trainer.picture %}
            <img class="card-img-botton mt-3" src="{{ trainer.picture.url }}" alt="Card image cap">
          {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ trainer.user.first_name }} {{ trainer.user.last_name }}
                

              </h2>
              <h4 class="card-title">Email: {{ trainer.user.email }}</h4>
              <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25">
              <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25">
              <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25">
              <img alt="..."  src="../../../static/img/star_yellow.png" width="25" height="25">
              <img alt="..."  src="../../../static/img/star.png" width="25" height="25">
              <p class="card-text"><strong>Descripción:</strong> {{ trainer.bio }} </p>

              <a href="#" class="btn btn-primary btn-lg btn-block col-12">Ir a sus clases</a>
    
            </div>
          </div>
      </div>
  </section>
  {% endif %}
  
  

  {% include "footer.html" %}

{% endblock %}