{% extends "navbar.html" %}

{% block body %}

<section class="mb-5 text-center">
    <div class="container">
      <div class="row justify-content-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="text-start mb-3">Asignar categorias</h3>
              {% if messages|length > 0 %}
                {% for message in messages %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}

              <form action="/announcements/add-categories/{{ a.id }}" method="post">
                {% csrf_token %}
                <div class="row justify-content-center">
                  <div class="col-4">
                    <div class="form-outline">
                      <div class="input-group">
                        <select class="form-select form-select-lg" name="category">
                            {% for c in categories %}
                              <option {% if c == category %}selected{% endif %}>
                                {{ c }} 
                              </option>                            
                            {% endfor %}  
                        </select>                         
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <input class="btn btn-outline-primary btn-lg" type="submit" value="Asignar"/>
                  </div>
                </div>
              </form>
              <div class="row d-flex mb-2 justify-content-center mt-4">
                <div class="mb-0">
                    {% for c in a.categories.all %}
                      <span class="badge
                          {% if c.types == 'objectives' %} text-bg-info 
                          {% elif c.types == 'recovery' %} text-bg-success 
                          {% elif c.types == 'difficulty' %} text-bg-warning 
                          {% endif %}">
                        {{ c.name }}
                        <a class="ms-1" href="/announcements/delete-categories/{{ a.id }}/{{ c.id }}">
                          <i class="fa fa-times-circle"></i>
                        </a>
                      </span>
                    {% endfor %}
                </div>
                
              </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}