{% extends "navbar.html" %}
{% load social_share %}

{% block body %}

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
  rel="stylesheet"
/>

<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-6 mb-3">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a class="rounded-4 py-2 px-2" href={% url 'trainer_details' trainer_id=announcement.trainer.id %}>
            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ request.scheme }}://{{ request.get_host }}/media/{{ announcement.trainer.picture }}">
          </a>
        </div>
        <p class="text-center font-weight-bold"><strong>Usuario del entrenador:</strong> {{ announcement.trainer.username }}</p>
      </div>
      <main class="col-lg-6 mb-3">
        <div class="ps-lg-3">
          <h2 class="title text-dark mb-4">
              {{ announcement.title }}
          </h2>
          <div class="mb-4">
              <span class="h3">{{ announcement.price|floatformat:2 }} €</span>
          </div>

          <p>
              {{ announcement.description }}
          </p>


          <div class="d-flex mb-4 justify-content-end me-2">
            <div class="mb-0">
                {% for category in announcement.categories.all %}
                  <span class="badge
                      {% if category.types == 'objectives' %} text-bg-info 
                      {% elif category.types == 'recovery' %} text-bg-success 
                      {% elif category.types == 'difficulty' %} text-bg-warning 
                      {% elif category.types == 'age' %} text-bg-secondary
                      {% endif %}">
                    {{ category.name }}
                  </span>
                {% endfor %}
            </div>
          </div>

          <hr>

          <div class="row mb-3">
            <div class="col mb-0 w-30 align-middle">
              <p><strong>Fecha: </strong>{{ announcement.start_date|date:"d-m-Y" }} | {{ announcement.start_date|date:"H:i" }} - {{ announcement.finish_date|date:"H:i" }}</p>
              <p><strong>Plazas restantes: </strong>{{ announcement.capacity }} personas</p>
              <p><strong>Hay: </strong>{{ announcement.clients.count }} plazas ocupadas</p>

              {% if "trainer" in request.user.roles and is_trainer_announcement %}
              <ul>
                {% for client in announcement.clients.all %}
                  <li>{{ client.first_name }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            </div>
            <div class="col mb-0 w-70 mt-2">
              {% if "client" in request.user.roles %}
                {% if is_client_booking %}
                <a href="{% url 'cancel_book' announcement.id %}" onclick="return confirm('¿Estás seguro de que quieres cancelar esta reserva?') && cancelBooking({{ announcement.id }})" class="btn btn-outline-danger me-4 btn-lg px-3 w-100">
                  Cancelar reserva
              </a>
                {% else %}
                <a href="{% url 'book_announcement' announcement.id %}" onclick="return confirm('¿Estás seguro de que quieres reservar esta clase?') && confirmBooking({{ announcement.id }})" class="btn btn-outline-primary me-4 btn-lg px-3 w-100">
                  Reservar
              </a>
                {% endif %}
              {% elif "trainer" in request.user.roles and is_trainer_announcement%}
                <a href="{% url 'edit_announcement' announcement.id %}" 
                        class="btn btn-outline-primary btn-lg me-4 px-3 w-100">
                    Editar
                </a>
                <a href="{% url 'add_categories' announcement.id %}" 
                        class="btn btn-outline-primary btn-md mt-2 px-3 w-100">
                    Añadir categorías
                </a>
                <a href="{% url 'delete_announcement' announcement.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar el anuncio?') && deleteAnnouncement({{ announcement.id }})" class="btn btn-outline-danger btn-md mt-2 px-3 w-100">
                  Borrar
              </a>
              {% endif %}
            </div>
          </div>

          <hr>
          <div class="row mb-2 mt-4">
            {% url 'announcement_details' announcement_id=announcement.id as announcement_details_id %}
            <span style="width: fit-content;" >{% post_to_facebook announcement_details_id '<i class="fab fa-facebook fa-2x"></i>' %}</span>
            <span style="width: fit-content;" >{% post_to_whatsapp announcement_details_id "<i class='fab fa-whatsapp fa-2x'></i>" %}</span>
            <span style="width: fit-content;" >{% post_to_twitter "Nueva clase: {{a.title}}. {{a.description}}. El día {{a.start_date|date:'d-m-Y'}} de {{ a.start_date|date:'H:i' }} hasta {{ a.finish_date|date:'H:i' }}. Echa un vistazo!" announcement_details_id "<i class='fab fa-twitter fa-2x' ></i>" %}</span>
          </div>
        </div>
      </main>

      <!-- TODO Map widget -->
      
    </div>
  </div>
</section>

{% include "footer.html" %}

{% endblock %}