{% extends "navbar.html" %}

{% block body %}
<h1 class="display-4 text-center">Anuncios con aforo completo</h1>


<div class="row justify-content-center align-items-center h-50 mt-4">
    <div class="col col-xl-6">
    {% if announcements|length > 0 %}

    {% for a in announcements %}
      
    <div class="card mb-5" style="border-radius: 15px;">
      <div class="card-body p-4">
        <h3 class="mb-3"><b>{{ a.title }}</b></h3>
        <h5 class="mb-3">{{ a.place }}</h5>
        <h5 class="mb-3">{{ a.price|floatformat:2 }} €</h5>
        <h5 class="mb-3">{{ a.start_date|date:"d-m-Y" }} | {{ a.start_date|date:"H:i" }} - {{ a.finish_date|date:"H:i" }}</h5>
        <h5 class="mb-3">
            {% if a.categories.all %}
                {% for category in a.categories.all %}
                    <span class="badge text-bg-success">{{ category.name }}</span>
                {% endfor %}
            {% else %}
                No hay categorías para este anuncio.
            {% endif %}</h5>
        <p><strong>Clientes apuntados:</strong>
                {% if a.clients.all %}
                {% for client in a.clients.all %}
                {{ client.user.first_name}} {{ client.user.last_name }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% else %}
                No hay clientes para este anuncio.
                {% endif %}</p>
        <p class="mb-3">Clase completa con un total de {{ a.capacity }} personas </p>
        <p class="small mb-0"><i class="far fa-star fa-lg"></i>
          {{ a.description }}
        </p>


        <hr class="my-2">

        <div class="dropdown">
          <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Opciones
          </a>
        
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item text-center" href="/announcements/edit/{{ a.id }}">Editar</a></li>
            <li><a class="dropdown-item text-center" href="/announcements/add-categories/{{ a.id }}">Asignar Categorias</a></li>
            <li><a class="dropdown-item text-center" href="#">Borrar</a></li>
          </ul>
        </div>

      </div>
    </div>

    
    

    {% endfor %}

</div>
   
</div>

    {% else %}
      <p class="alert alert-danger">No se encontraron anuncios</p>
    {% endif %}


    
  
    {% if announcements.has_other_pages %}
    <nav aria-label="Page navigation example" class="text-center">
        <ul class="pagination justify-content-center">
            {% if announcements.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ announcements.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
            {% endif %}        
        
        {% for i in announcements.paginator.page_range %}
            {% if announcements.number == i %}
                <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>
            {% elif i > announcements.number|add:'-1' and i < announcements.number|add:'1' %} 
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if announcements.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ announcements.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
            </li>
        {% endif %}
        </ul>
      </nav>
    <div class="pagination">
    
    </div>
    {% endif %}
    
</ul>
{% endblock %}
