{% extends "navbar.html" %}

{% load static %}
{% load socialaccount %}

{% block body %}

<section class="mb-5 text-center">
    <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
			  {% if role == 'client' %}
			  	<h1 class="mb-4 pb-2 pb-md-0 mb-md-5 display-3 color2">Regístrate como Cliente</h1>
			  {% elif role == 'trainer' %}
			  	<h1 class="mb-4 pb-2 pb-md-0 mb-md-5 display-3 color2">Regístrate como Entrenador</h1>
			  {% else %}
			  	<h1 class="mb-4 pb-2 pb-md-0 mb-md-5 display-3 color2">Regístrate</h1>
			  {% endif %}

              {% if messages|length > 0 %}
				{% for message in messages %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			  {% endif %}

	<form class="form" method="post" action="/register/{{ role }}/" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="input-group mb-3 col-12">
				<span class="input-group-text">Nombre de usuario</span>
					<input required class="form-control" type="text" name="username" maxlength="150">
				</div>
			</div>

		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Nombre</span>
					<input required class="form-control" type="text" name="name" maxlength="30">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Apellidos</span>
					<input required class="form-control" type="text" name="last_name" maxlength="150">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Email</span>
					<input required class="form-control" type="email" name="email">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Contraseña</span>
					<input required class="form-control" type="password" name="password">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Repite la contraseña</span>
					<input required class="form-control" type="password" name="password_again">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Biografia</span>
					<input required class="form-control" type="text" name="bio" maxlength="150">
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Fecha de nacimiento</span>
					<input required class="form-control" type="date" name="birthday">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="input-group mb-3 col-sm-12 col-lg-6">
				<span class="input-group-text">Foto de perfil</span>
					<input required class="form-control" type="file" name="picture" accept="image/*">
				</div>
			</div>
		</div>

		<div class="mt-4 pt-2">
			<input class="btn btn-primary btn-lg" type="submit" value="Registrarse" style="border-radius: 2rem;"/>
		</div>

		<div class="row my-4">
			<div class="col"><hr></div>
			<div class="col-auto">Ó</div>
			<div class="col"><hr></div>
		</div>
		
		<div class="row my-4">
			<div class="col-md-12">
			  <a class="btn btn-lg btn-light" href="{% provider_login_url 'google' process='login' role=role%}"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Entrar Con Google</a>
			</div>
		</div>
	</form>
	</div>
</div>
</div>
</div>
</div>
</section>

{% include "footer.html" %}

{% endblock %}