{%extends 'navbar_clients.html'%}
{%block body%}
<h1>Lista de Anuncios Recomendados</h1>
<div class="row justify-content-center align-items-center h-50 mt-4">
    <div class="col col-xl-6">
    {% if announcements|length > 0 %}
  
    {% for a in announcements %}
      
    <div class="card mb-5" style="border-radius: 15px;">
      <div class="card-body p-4">
        <h3 class="mb-3"><b>{{ a.title }}</b></h3>
        <h5 class="mb-3">{{ a.place }}</h5>
        <h5 class="mb-3">{{ a.price|floatformat:2 }} €</h5>
        <h5 class="mb-3">{{ a.start_date|date:"d-m-Y" }} | {{ a.start_date|date:"H:i" }} - {{ a.finish_date|date:"H:i" }}</h5>
        <h5 class="mb-3">
            {% if a.categories.all %}
                {% for category in a.categories.all %}
                    <span class="badge bg-success text-light">{{ category.types }}: {{ category.name }}</span>
                {% endfor %}
            {% else %}
                No hay categorías para este anuncio.
            {% endif %}</h5>
        <p><strong>Clientes apuntados:</strong>
                {% if a.clients.all %}
                  {{a.clients.all.count}}
                {% else %}
                  No hay clientes para este anuncio.
                {% endif %}</p>
        <p class="mb-3">Hay hueco para {{ a.capacity }} personas en total</p>
        <p class="small mb-0"><i class="far fa-star fa-lg"></i>
          {{ a.description }}
        </p>
  
  
        <hr class="my-2">
  
        <div class="dropdown">
          <a class="btn btn-info" href="/announcements/{{a.pk}}" role="button" id="details" aria-expanded="false">
            Ver anuncio
          </a>
  
          </ul>
        </div>
  
      </div>
    </div>
  
    
    
  
    {% endfor %}
  
  </div>
{% else %}
  <p class="alert alert-danger">No se encontraron anuncios</p>
{% endif %}
{%endblock%}