<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--divinectorweb.com-->
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>FitWin</title>
	<link rel="icon" href="{% static 'img/logo.png' %}">
	<!-- All CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/c18980d3a8.js" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#" ><img alt="" class="img-fluid" width="75" height="75" src="{% static 'img/logo.png' %}"><span style="color:#8860D0">Fit</span>Win</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">Acerca de</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#services">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contexto">Contexto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#team">Equipo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contacto</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
		
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img alt="..." class="d-block w-100" src="{% static 'img/home-1.jpg' %}">
				<div class="carousel-caption">
					<h5>FitWin</h5>
					<p>Encuentra los entrenadores que mejor se adapten a ti y ponte en forma</p>
					<br>

					
					
					<p><a class="btn btn-secondary mt-3" href="/login">Iniciar sesión</a></p>
					<p><a class="btn btn-warning mt-3" href="{% url 'trainer-register' %}">Registrarse como entrenador</a></p>
					<p><a class="btn btn-warning mt-3" href="{% url 'client-register' %}">Registrarse como alumno</a></p>
				</div>
			</div>
			
		
	</div><!-- about section starts -->
	<section class="about section-padding" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-12">
					<div class="about-img"><img alt="" class="img-fluid" src="{% static 'img/entrenador-personal.jpg' %}"></div>
				</div>
				<div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<h2><br>Ponte en forma con FitWin o publica anuncios</h2>
						<p>Esta aplicación permite a los entrenadores personales crear y publicar anuncios de clases.</p>
						<p>Los alumnos podrán encontrar entrenadores que se adapten a sus necesidades.</p>
						<a class="btn btn-warning" href="#contact">Más información</a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- about section Ends -->
	<!-- services section Starts -->
	<section class="services section-padding" id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Nuestros servicios</h2>
						<p>Ofrecemos servicios tantos a entrenadores como a alumnos.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2" style="height: 380px">
						<div class="card-body">
							<i class="fa-solid fa-dumbbell"></i>
							<br>
							<h3 class="card-title">Para entrenadores</h3>
							<p class="lead">
								<ul>
									<br>
									<li type="circle">
										Creación de anuncios personalizados
									</li>
									<br>
									<li type="circle">
										Organización de entrenamientos
									</li>
									<br>
									<li type="circle">
										Calendario de clases
										
									</li>
									
								</ul>
							</p>
							<br><br>
							<a class="btn btn-warning" href="#contact">Más información</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2" style="height: 380px">
						<div class="card-body">
							<i class="fa-solid fa-person-running"></i>
							<br>
							<h3 class="card-title">Para alumnos</h3>
							<p class="lead">
								<ul>
									<br>
									<li type="circle">
										Búsqueda de entrenadores mediante sistema de valoración y recomendación
									</li>
									<br>
									<li type="circle">
										Calendario de clases
									</li>
									<br>
									<li type="circle">
										Pago online mediante al app
									</li>
									
								</ul>
							</p>
							<br>
							<a class="btn btn-warning" href="#contact">Más información</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2" style="height: 380px">
						<div class="card-body">
							<i class="bi bi-intersect"></i>
							<br>
							<h3 class="card-title">Otros servicios</h3>
							<p class="lead">
								<ul>
									<li type="circle">
										Integración con redes sociales
									</li>
									<br>
									<li type="circle">
										Integración con google calendar
									</li>
									<br>
									<li type="circle">
										Filtros de búsqueda para un mayor grado de individualización en los entrenamientos
									</li>
									<br>
									
								</ul>
							</p>
							<a class="btn btn-warning" href="#contact">Más información</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- services section Ends -->
	<!-- portfolio strats -->
	<section class="contexto section-padding" id="contexto">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-12">
					<div class="about-img"><img alt="" class="img-fluid" src="{% static 'img/software.jpg' %}"></div>
				</div>
				<div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<h2><br>Contexto</h2>
						<p>Esta aplicación web es un proyecto desarrollado por un grupo de 12 alumnos de 4º curso de la Universidad de Sevilla, para la asignatura Ingeniería del Software y Práctica Profesional.</p>
						<a class="btn btn-warning" href="#contact">Más información</a>
					</div>
				</div>
			</div>
		</div>
		
	</section><!-- portfolio ends -->
	<!-- team starts -->
	<section class="team section-padding" id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Equipo</h2>
						<p>Estos son los miembros del equipo de desarrollo de la aplicación.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/nacho.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Ignacio Jordano</h3>
							<p class="card-text"><strong>Contacto:</strong> ignjorde@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/jesus.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Jesús Páez</h3>
							<p class="card-text"><strong>Contacto:</strong> jespaepae@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/borja.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Borja Piñero</h3>
							<p class="card-text"><strong>Contacto:</strong> borpincal@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/juanjo.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Juan José Casamitjana</h3>
							<p class="card-text"><strong>Contacto:</strong> juacasben@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/victor.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Victor Graván</h3>
							<p class="card-text"><strong>Contacto:</strong> vicgrabru@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/edu.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Eduardo Ciezar</h3>
							<p class="card-text"><strong>Contacto:</strong> educielan@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/raul.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Raúl Gallardo</h3>
							<p class="card-text"><strong>Contacto:</strong> raugalroc@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/pablo.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Pablo Ramos</h3>
							<p class="card-text"><strong>Contacto:</strong> pabramber@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/nuria.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Nuria Gómez</h3>
							<p class="card-text"><strong>Contacto:</strong> nurgomari@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/alberto.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Alberto Antonio Tokos</h3>
							<p class="card-text"><strong>Contacto:</strong> albtokmat@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/maria.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">María Remedios Zoido</h3>
							<p class="card-text"><strong>Contacto:</strong> marzoiras@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center" style="height: 400px">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="{% static 'img/juan-antonio.jpg' %}" width="150" height="150">
							<h3 class="card-title py-2">Juan Antonio Ortiz</h3>
							<p class="card-text"><strong>Contacto:</strong> juaortgue@alum.us.es</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- team ends -->
	<!-- Contact starts -->
	<section class="contact section-padding" id="contact">
		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Contacta con nosotros</h2>
						<br>
						<p><i class="fa-solid fa-2x fa-envelope"></i>&nbsp;<strong>fitwinispp@proton.me</strong></p>
						<br>
						&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-2x fa-github"></i>
						&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-2x fa-twitter"></i>
						&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-2x fa-facebook"></i>
						&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-2x fa-instagram"></i>
					</div>
				</div>
			</div>
			<div class="row m-0">
				<div class="col-md-12 p-0 pt-4 pb-4">
					<!--for getting the form download the code from download button-->
				</div>
			</div>
		</div>
	</section><!-- contact ends -->
	<!-- footer starts -->
	<footer class="bg-dark p-2 text-center">
		<div class="container">
			<p class="text-white">Todos los derechos reservados por @FitWin</p>
		</div>
	</footer>
	<!-- footer ends -->
	
	<!-- All Js -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
</body>
</html>
