{% extends "navbar.html" %} {% block body %}

<div class="container">
  <div class="about-text">
    <h2><br />Aviso legal</h2>
    <br />
    <p>
      La presente página Web está diseñada para dar soporte a los servicios
      ofrecidos por FitWin hacia entrenadores personales que quieran dar a
      conocer su capacidad para ofrecer distintas clases y que posibles usuarios
      puedan reservarlas a través de los anuncios de la aplicación.
    </p>
    <p>
      FitWin está gestionada por un grupo de estudiantes de la Universidad de
      Sevilla sin sede física y cualquier contacto se hará por medio del email
      fitwinispp@proton.me.
    </p>
    <br />
  </div>
  <div class="about-text">
    <h2><br />Política de privacidad</h2>
    <br />
    <p>
      FitWin está comprometida con la protección de la privacidad y el
      cumplimiento del Reglamento General de Protección de Datos de la Unión
      Europea (RGPD). Le informamos que al proporcionarnos sus datos personales
      a través de esta página web, estos serán tratados de manera confidencial y
      utilizados únicamente para los fines que se describen en esta política de
      privacidad.
    </p>
    <p>
      Recopilamos algunos datos de identificación personal durante el registro,
      como su nombre y dirección de correo electrónico, que son necesarios para
      utilizar la aplicación o para comunicarle novedades en la web. FitWin solo
      utilizará esta información para proporcionarle los servicios solicitados y
      mejorar su experiencia en la plataforma.
    </p>
    <p>
      Además, FitWin puede recopilar información sobre los registros realizados
      a una clase, como la fecha y hora de la reserva, y los tipos de clase
      elegidos. Estos datos se utilizarán para mejorar nuestros servicios y para
      recomendar clases afines que puedan ser de su interés.
    </p>
    <p>
      En ningún caso venderemos o tranferiremos sus datos personales a terceros
      sin su consentimiento expreso. Además, adoptamos medidas de seguridad
      técnicas y organizativas apropiadas para proteger sus datos personales
      contra la pérdida, robo o alteración no autorizada.
    </p>
    <p>
      Tiene derecho a acceder, rectificar, suprimir y portar sus datos
      personales, así como oponerse o limitar su tratamiento, tal y como
      establece el RGPD. Para ejercer estos derechos o cualquier otra consulta
      sobre nuestra política de privacidad, por favor, contáctenos a través del
      correo electrónico fitwinispp@proton.me.
    </p>
    <br /><br />
  </div>
</div>

{% include "footer.html" %} {% endblock %}
