{% extends "navbar.html" %}

{% block body %}

<div class="container">
    <div class="about-text">
        <h2><br>Aviso legal</h2>
        <br>
        <p>La presente página Web está diseñada para dar soporte a los servicios ofrecidos por FitWin hacia entrenadores personales que quieran dar a conocer su capacidad para ofrecer distintas clases y que posibles usuarios puedan reservarlas a través de los anuncios de la aplicación.</p>
        <p>FitWin está gestionada por un grupo de estudiantes de la Universidad de Sevilla sin sede física y cualquier contacto se hará por medio del email fitwinispp@proton.me.</p>
        <br>
    </div>
    <div class="about-text">
        <h2><br>Política de privacidad</h2>
        <br>   
        <p>Cumpliendo con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016 en cuánto al tratamiento de los datos personales de las personas físicas, le informamos que dichos datos personales proporcionados a través de la página, serán tratados por FitWin de forma confidencial y estamos comprometidos a proteger su privacidad.
        </p>
        <p>Recolectamos algunos datos de identificación personal durante el registro como puede ser nombre y email, necesarios para el uso de la aplicación o para comunicaciones sobre novedades en la web. En definitiva, si usted quiere hacer uso de nuestro servicios, debe ser consciente de que toda la información que nos proporciona, se nos cede voluntariamente, por lo que FitWin no se hace responsable de la pérdida, robo o alteración de los datos.
        </p>
        <br><br>
       
    </div>
</div>

{% include "footer.html" %}

{% endblock %}