.color1{
    color: #5580e9;
}
.color2{
    color: #84ceeb;
}
.color3{
    color: #5ab8eb;
}
.color4{
    color: #c1c8e4;
    
}
.color5{
    color: #8860d0;
}
.white{
    color: white;
}
.background{
    background-color: #8e6ecf;
}